.background{
  background: linear-gradient(135deg, #041d05, #357238);
  height: 100vh;
}
.card-container {
  width: 70vw;
  height: 90vh;

  background:
    linear-gradient(
        180deg,
        #ffffff 0%,
        #f0f2f3 100%
    ),
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='120'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='4'/></filter><rect width='100%' height='100%' filter='url(%23n)' opacity='.045'/></svg>");

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.06);

  box-shadow:
    0 12px 28px rgba(0, 0, 0, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);

  padding: 2rem;
  //Scrolling with hidden scroll bar
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
  display: none;
}



