.background{
  background: linear-gradient(135deg, var(--color-brown), var(--color-light-brown));
  height: 100vh;
}

.card-container {
  width: 70vw;
  height: 90vh;

  background-image:url("./TEST.png");

  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.06);

  box-shadow:
    0 12px 28px rgba(0, 0, 0, 0.18),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);

  padding: 2rem;
  //Scrolling with hidden scroll bar
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
  display: none;
}



