<div class="h-100 d-flex">
  <div class="card-glass card flex-grow-1 rounded-4 shadow-lg">
    <h4 class="card-header bg-dark text-white rounded-top-4 text-center">Transcribing Center</h4>
    <div class="card-body">
      <div class="row">
        <form class="col d-flex flex-column align-items-center"
              (ngSubmit)="uploadSong()"
              #songForm="ngForm">

          <h3>New Song?</h3>

          <!-- Hidden file input -->
          <input
            #mp3Input
            type="file"
            accept=".mp3"
            hidden
            (change)="onFileSelected($event)"
          />

          <button type="button" class="btn btn-dark mt-2" (click)="mp3Input.click()">
            Select MP3
          </button>

          @if (selectedFile) {
            <div class="mt-2">
              Selected file: {{ selectedFile.name }}
            </div>
          }

          <div class="mt-4 w-100">
            <input
              type="text"
              class="form-control"
              name="songName"
              placeholder="Enter song name"
              [(ngModel)]="title"
              required
            >
          </div>

          <div class="mt-4 w-100">
            <input
              type="text"
              class="form-control"
              name="artist"
              placeholder="Enter artist name"
              [(ngModel)]="artist"
              required
            >
          </div>

          <button
            type="submit"
            class="btn btn-dark btn-lg mt-4"
            [disabled]="!songForm.valid || !selectedFile">
            Transcribe
          </button>

        </form>


        <div class="col d-flex flex-column h-100">
          <h3 class="text-center mb-3">Saved Songs</h3>
          <div class="card flex-grow-1 rounded-4 w-100">
            <div class="card-body overflow-auto">
              @if(savedSongs().length > 0){
                <ul class="list-group list-group-flush">
                  @for (song of savedSongs(); track song.id) {
                    <li
                      class="list-group-item list-group-item-action"
                      (click)="transcribeFromSavedSongs(song.id)"
                    >
                      {{ song.title }} - {{ song.artist }}
                    </li>
                  }
                </ul>
              }
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
